{% extends "base.html.twig" %}

{% block meta %}
    <meta property="og:title" content="{{ title }}">
    <meta property="twitter:title" content="{{ title }}">
    <meta property="og:type" content="article">
{% endblock %}

{% block title %}{{ title }} | DEV Blog{% endblock %}

{% block body %}
    <article>
        <div>
            <div>
                <span>{{ type }}</span> Veröffentlicht {{ date }}
            </div>
            <h2>{{ title }}</h2>
        </div>

        <div>
            {{ content|raw }}
        </div>
    </article>
{% endblock %}
