<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %} | Naruto RPG</title>
    <meta name="description" content="">
    <meta name="robots" content="noindex">

    {% block meta %}
        <meta property="og:type" content="website">
        <meta property="og:locale" content="de">
    {% endblock %}

    <link rel="icon" href="{{ asset('img/favicons/favicon-196x196.svg') }}">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    {% block stylesheets %}
        <link href="{{ asset('css/global.css') }}" rel="stylesheet"/>
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>

<div class="text-center p-2 bg-black text-white">
    Dies ist eine neue BETA-Version für Naruto RPG. Bei Fragen oder Problemen wende dich bitte an das Team.
</div>

<header class="bg-body-tertiary">
    <nav class="nav">
        <a class="nav-link" href="{{ path('app_frontpage') }}">Startseite</a>
        <a class="nav-link" href="{{ path('blog_index') }}">Entwicklerupdates</a>
        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        <a class="nav-link" href="{{ path('app_register') }}">Registrieren</a>
    </nav>
</header>

<main class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
</main>

<footer class="text-white bg-black text-center p-5">
    <p>
        © {{ "now"|date("Y") }} Naruto RPG.<br>
        All rights reserved. All trademarks are the property of their respective owners.
    </p>
    <nav class="nav justify-content-center">
        <a class="nav-link" href="{{ path('app_imprint') }}">Impressum</a>
        <a class="nav-link" href="https://github.com/mikaykun/narutorpg" target="_blank" rel="noopener">GitHub</a>
        <a class="nav-link" href="https://ko-fi.com/mikaykun" target="_blank" rel="noopener">Support us at ko-fi.com</a>
    </nav>
</footer>
</body>
</html>
